.jumbotron h1{
    text-align:center;
    background-color:white;
    opacity: 0.8;

}
.jumbotron {
    background-image: url("http://java.codeup.com/examples/bootstrap/pizza.png");
}
.list-group-item{
    background-color: #DCEDF6;

}

