@media screen and(width-min:400px)
    .row{
        width:100%;

    }
    .container {
        width:100%;

    }

    * {
        box-sizing: border-box;
    }

    .one-half{
        width:50%;
        text-align: center;
        float:left;
        margin-bottom: 15px;
        height:30px;
    }

    .one-third{
        width:33.33%;
        text-align: center;
        float:left;
        margin-bottom: 15px;

        height:30px;
    }

    .one-forth{
        width:25%;

        text-align: center;
        float:left;
        margin-bottom: 15px;

        height:30px;
    }

    .one-eighth{
        width:12.5%;

        text-align: center;
        float:left;
        margin-bottom: 15px;

        height:30px;
    }

