@media screen and (min-width:365px) {
    .nav-links  {
        padding: 10px;

    }
    li {
        list-style:none;
        height: 15px;
        margin: 10px;
        background-color: lightgrey;
        text-align: center;
        padding: 20px;
        margin-bottom:1%;

    }
    img {
        width:100%;
    }
    h1 {
        text-align:center;
    }
    .alert-info  {
        background-color: lightskyblue;
        color: black;
        text-decoration: none;
        border: 40px;
        height: 15px;
        /*width: 339px;*/
        text-align: center;
        border-color: black;
        padding: 20px;

    }
    body {
        font-family:sans-serif;
    }
}
@media screen and (min-width:500px) {

    .alert-info {
    display:none;
}
    h1 {
        float:left;
    }
    .nav-links{
        float:right;
    }
    li {
        background-color: transparent;
        float:right;
    }
    #main{
        width:50%;
        float:left

    }
    .sub-section{
        width:33%;
        float:right;
    }

    footer{
        margin-top:20%;
        clear:both;
    }
}