@media screen and (min-width:365px) {

    .alert-info {
        height:15px;
        background-color: #87cefa;
        padding: 20px;
        text-align:center;
    }
    .nav-links{
        padding:15px;
    }
    li {
        list-style: none;
        height: 15px;
        background-color: lightgrey;
        padding: 20px;
        margin: 15px;
        text-align: center;
        margin-bottom: 1%;
    }
    body {
        font-family:sans-serif;
    }
    img {
        width: 100%;
    }

    h1 {
        text-align: center;
    }
}
@media screen and (min-width:500px) {
    .alert-info {
        display:none;
    }
    li {
        background-color: transparent;
        float:right;

    }
    .nav-links{

    }
    h1 {
        float:left;
    }
    .main {
        width:50%;
        float:left;
    }
    .sub-section{
        width:50%;
        float:left;
    }
    footer {
    }



















}